@use "globals" as *;

main{
    background-color: $background-color-main;
    padding-bottom: 10%;
    padding-top: 10%;
    @include respond-to("medium"){
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 5%;
    }

    .row{
        @include respond-to("medium"){
            flex-direction: column;
        }
    }
    .con-1{
        hr{
            width: 80%;
            color: $font-color-hr-and-shrek;
            border: none;
            border-top: 12px solid $font-color-hr-and-shrek;
            margin-bottom: 10%;
            @include respond-to("medium"){
                width: 100%;
                margin-bottom: 15%;
            }
        }
        h1{
            font-family: 'Shrek';
            color: $background-color-footer;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 15%;
            @include respond-to("medium"){
                font-size: 20px;
                margin-bottom: 10px;
            }
            span{
                color: $font-color-hr-and-shrek;
                @include respond-to("medium"){
                    font-size: 18px;
                }
            }
        }

        p{
            margin-bottom: 10%;
            text-align: center;
            @include respond-to("medium"){
                font-size: 14px;
                text-align: justify;
                line-height: 1.5;
            }
        }

        
    }

    .con-1-2 {
        .row{
            flex-direction: column;
        }

        hr {
            width: 100%; 
            color: $font-color-hr-and-shrek;
            border: none;
            border-top: 12px solid $font-color-hr-and-shrek;
            margin-bottom: 10%;
        }
    
        h1 {
            font-family: 'Shrek';
            color: $background-color-footer;
            margin-top: 10px;
            margin-bottom: 15%;
        }
    
        form {
            width: 100%;
            .row{
                flex-direction: column;
            }
            
            input[type="text"],
            input[type="password"],
            input[type="submit"] {
                display: block;
                padding: 5%;
                margin-bottom: 5vh;
                width: 80%;
                background-color: $background-color-footer;
                border-radius: 15px;
                text-align: center;
                font-size: 20px;
                &::placeholder {
                    font-family: 'Shrek';
                    color: $font-color-header-and-footer;
                }
                color: $font-color-header-and-footer;
                font-family: 'Shrek';
            }
        }
    }
    

    .con-noradius{
        img{
            object-fit: cover;
            @include respond-to("medium"){
                max-width: 300px;
            }
        }
    }

    .con-2{
        img{
            border-radius: 50%;
            object-fit: cover;
            @include respond-to("medium"){
                width: 100%; 
                height: auto;
                object-fit: cover;
            }
        }
    }
}