@use "globals" as *;

main{
    background-color: $background-color-main;
    padding-bottom: $padding-10-per-cent;
    padding-top: $padding-10-per-cent;
    @include respond-to("medium"){
        padding-top: 0;
        margin-top: 0;
        padding-bottom: $padding-5-per-cent;
    }

    .row{
        @include respond-to("medium"){
            flex-direction: column;
        }
    }
    .con-1{
        hr{
            width: $size-width-80-per-cent;
            color: $font-color-hr-and-shrek;
            border: none;
            border-top: 12px solid $font-color-hr-and-shrek;
            margin-bottom: $padding-10-per-cent;
            @include respond-to("medium"){
                width: 100%;
                margin-bottom: $padding-15-per-cent;
            }
        }
        h1{
            font-family: 'Shrek';
            color: $background-color-footer;
            text-align: center;
            margin-top: $padding-10-px;
            margin-bottom: $padding-15-per-cent;
            @include respond-to("medium"){
                font-size: $sizes-20-px;
                margin-bottom: $padding-10-px;
            }
            span{
                color: $font-color-hr-and-shrek;
                @include respond-to("medium"){
                    font-size: $sizes-parrafo;
                }
            }
        }

        p{
            margin-bottom: $padding-10-per-cent;
            text-align: center;
            @include respond-to("medium"){
                font-size: $sizes-small;
                text-align: justify;
                line-height: 1.5;
            }
        }

        
    }

    .con-1-2 {
        .row{
            flex-direction: column;
        }

        hr {
            width: 100%; 
            color: $font-color-hr-and-shrek;
            border: none;
            border-top: 12px solid $font-color-hr-and-shrek;
            margin-bottom: $padding-10-per-cent;
        }
    
        h1 {
            font-family: 'Shrek';
            color: $background-color-footer;
            margin-top: $padding-10-px;
            margin-bottom: $padding-15-per-cent;
        }
    
        form {
            width: 100%;
            .row{
                flex-direction: column;
            }
            
            input[type="text"],
            input[type="password"],
            input[type="submit"] {
                display: block;
                padding: $padding-5-per-cent;
                margin-bottom: $padding-5-per-cent;
                width: $size-width-80-per-cent;
                background-color: $background-color-footer;
                border-radius: $border-radius-15-px;
                text-align: center;
                font-size: $sizes-20-px;
                &::placeholder {
                    font-family: 'Shrek';
                    color: $font-color-header-and-footer;
                }
                color: $font-color-header-and-footer;
                font-family: 'Shrek';
            }
        }
    }
    

    .con-noradius{
        img{
            object-fit: cover;
            @include respond-to("medium"){
                max-width: 300px;
            }
        }
    }

    .con-2{
        img{
            border-radius: $border-radius-50-per-cent;
            object-fit: cover;
            @include respond-to("medium"){
                width: 100%; 
                height: auto;
                object-fit: cover;
            }
        }
    }
}