@use "globals" as *;

footer{
    background-color: $background-color-footer;
    padding: $padding-2-per-cent;
    @include respond-to("medium"){
        padding: 10% 0;
        .row{
            flex-direction: column;
        } 
    }
    .con-1{
        h1{
            font-family: 'Shrek';
            color: $font-color-p-footer;
            @include respond-to("medium"){
                font-size: $sizes-20-px;
            }
            span{
                color: $font-color-header-and-footer;
                @include respond-to("medium"){
                    font-size: $sizes-h4;
                }
            }
        }
    }

    .con-2{
        .icons-group{
            img{
                width: $size-width-20-per-cent;
                margin-right: $padding-2-per-cent;
                @include respond-to("medium"){
                    width: $size-width-25-per-cent; 
                    margin-right: $padding-5-per-cent; 
                }
            }
        }

        .prueba{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include respond-to("medium"){
                flex-direction: column;
                align-items: flex-start;
            }
            a{
                font-family: 'Shrek';
                color: $font-color-p-footer;
                text-decoration: none;
                @include respond-to("medium"){
                    font-size: $sizes-small;
                    margin-bottom: 5px;
                }
            }
        }
    }
}