@use "globals" as *;

footer{
    background-color: $background-color-footer;
    padding: 2%;
    .con-1{
        h1{
            font-family: 'Shrek';
            color: $font-color-p-footer;
            span{
                color: $font-color-header-and-footer;
            }
        }
    }

    .con-2{
        .icons-group{
            img{
                width: 20%;
                margin-right: 2%;
            }
        }

        .prueba{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-family: 'Shrek';
                color: $font-color-p-footer;
            }
        }
    }
}