@use "globals" as *;

footer{
    background-color: $background-color-footer;
    padding: 2%;
    @include respond-to("medium"){
        padding: 10% 0;
        .row{
            flex-direction: column;
        } 
    }
    .con-1{
        h1{
            font-family: 'Shrek';
            color: $font-color-p-footer;
            @include respond-to("medium"){
                font-size: 18px;
            }
            span{
                color: $font-color-header-and-footer;
                @include respond-to("medium"){
                    font-size: 16px;
                }
            }
        }
    }

    .con-2{
        .icons-group{
            img{
                width: 20%;
                margin-right: 2%;
                @include respond-to("medium"){
                    width: 25%; 
                    margin-right: 5%; 
                }
            }
        }

        .prueba{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include respond-to("medium"){
                flex-direction: column;
                align-items: flex-start;
            }
            a{
                font-family: 'Shrek';
                color: $font-color-p-footer;
                text-decoration: none;
                @include respond-to("medium"){
                    font-size: 14px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}