//Aquí como en globals definimos que cogiéramos todas las variables de variables y mixins, lo usamos
//Añadiendo el as * lo que haces es eliminar el prefijo .globals para acceder a las variables

@use "globals" as *;

header{
    background-image: url(../img/shrek-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -120px;
    padding-top: 5%;
    padding-bottom: 2%;

    @include respond-to("medium"){
        background-position-x: left;
        padding-top: 10%;
        padding-bottom: 0;
        background-color: $background-color-main;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        height: auto;
        @include respond-to("medium"){
            display: block;
            padding-top: 0; 
            padding-bottom: 30%;
        }
        ul{
            list-style-type: none;
            @include respond-to("medium"){
                display: block;
            }
            li{
                display: inline-block;
                padding-right: 15px;
                @include respond-to("medium"){
                    display: block;
                    text-align: center;
                    padding-right: 0; 
                    margin-bottom: 10px; 
                }
                a{
                    text-decoration: none;
                    font-family: 'Shrek';
                    color: $font-color-header-and-footer;
                    @include respond-to("medium"){
                        font-size: 14px;
                        padding: 5px 0; 
                    }
                    button{
                        font-family: 'Shrek';
                        color: $font-color-header-and-footer;
                        background-color: $background-color-footer;
                        border-radius: 30%;
                        padding: 18%;
                        position: relative;
                        @include respond-to("medium"){
                            font-size: 12px;
                            padding: 20px;
                        }
                        img{
                            position: absolute;
                            @include respond-to("medium"){
                                width: 20px;
                            }
                        }
                        .join-class{
                            display: inline;
                            opacity: 1;
                            transition: opacity 0.3s ease;
                        }
                        &:hover{
                            background-image: url(../img/hover.png);
                            object-fit: contain;
                            background-position-x: center;
                            @include respond-to("medium"){
                                background-position-x: -220px;
                            }
                        }

                        &:hover .join-class{
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}