//Variables para sass

@font-face {
    font-family: 'Shrek';
    src: url(../fonts/SHREK___.TTF);
}

$font-color-header-and-footer:#dfd41d;
$font-color-hr-and-shrek:#163819;
$background-color-footer:#5a4235;
$font-color-p-footer:#d0c8a4;
$background-color-main:#ebeaea;
$donkey-gray: #373d45;
$donkey-pink: #f88580;
$puss-in-boots-orange: #ec892b;
$puss-in-boots-white: #bb927e;
$fiona-green: #163819;
$ginger-orange: #e3973a;
$ginger-pink: #c14f4d;
$ginger-purple: #834485;
$fill-white: #ebeaea;
$full-white: #ffffff;
$container-max-width:1200px;
$container-padding:15px;

$breakpoints:(
    "medium":"max-width: 800px"
);