//Variables para sass

$font-color-header-and-footer:#dfd41d;
$font-color-hr-and-shrek:#163819;
$background-color-footer:#5a4235;
$font-color-p-footer:#d0c8a4;
$background-color-main:#ebeaea;
$container-max-width:1200px;
$container-padding:15px;