//Variables para sass

@font-face {
    font-family: 'Shrek';
    src: url(../assets/SHREK___.TTF);
}

$font-color-header-and-footer:#dfd41d;
$font-color-hr-and-shrek:#163819;
$background-color-footer:#5a4235;
$font-color-p-footer:#d0c8a4;
$background-color-main:#ebeaea;
$donkey-gray: #373d45;
$donkey-pink: #f88580;
$puss-in-boots-orange: #ec892b;
$puss-in-boots-white: #bb927e;
$fiona-green: #163819;
$ginger-orange: #e3973a;
$ginger-pink: #c14f4d;
$ginger-purple: #834485;
$fill-white: #ebeaea;
$full-white: #ffffff;
$bg-position-img-header:-120px;
$sizes-extra-small: 12px;
$sizes-small: 14px;
$sizes-h4: 16px;
$sizes-parrafo: 16px;
$sizes-20-px:20px;
$sizes-h3: 26px;
$sizes-h2: 42px;
$sizes-h1: 64px;
$padding-30-per-cent:30%;
$padding-15-per-cent:15%;
$padding-10-per-cent:10%;
$padding-5-per-cent:5%;
$padding-2-per-cent:2%;
$padding-button:18%;
$padding-15-px:15px;
$padding-10-px:10px;
$border-radius-50-per-cent:50%;
$border-radius-30-per-cent:30%;
$border-radius-15-px:15px;
$size-width-80-per-cent:80%;
$size-width-25-per-cent:25%;
$size-width-20-per-cent:20%;
$container-max-width:1200px;
$container-padding:15px;

$breakpoints:(
    "medium":"max-width: 800px"
);